{% extends 'base.html.twig' %}

{% block title %}Mooviz Index{% endblock %}

{% block body %}


    {% if app.user %}
    <section class="home-section">

    <h1 class="pages-title" >Welcome, {{ app.user.username }}!👋</h1>

        <div class="container-small reveal">
            <div class="block block-left">
                <div class="block-img">
                    <img src="/images/genres.jpg" alt="">
                </div>
                <div class="block-body">
                    <h3 class="title"><span>Accédez aux films par genres</span></h3>
                    <p>
                        Découvrez une sélection variée de films par genres pour une expérience cinématographique captivante. 
                    </p>
                    <div class="more">
                        <a href="{{ path('genres_index') }}" class="custom-btn btn">Genres</a>
                    </div>
                </div>
            </div>

            <div class="block block-right">
                <div class="block-img">
                    <img src="/images/new.png" alt="" width="400px">
                </div>
                <div class="block-body">
                    <h3 class="title"><span>Découvrez les films récents</span></h3>
                    <p>
                        Explorez les dernières pépites du cinéma pour vivre une expérience pleine d'émotions.
                    </p>
                    <div class="more">
                        <a href="{{ path('movies_recent') }}" class="custom-btn btn">Films récents</a>
                    </div>
                </div>
            </div>


            <div class="block block-left">
                <div class="block-img">
                    <img src="/images/populaire.jpg" alt="" width="350px">
                </div>
                <div class="block-body">
                    <h3 class="title"><span>Les incontournables</span></h3>
                    <p>
                        Partez à la découverte de films exceptionnels qui laissent une marque inoubliable dans l'univers du cinéma.
                    </p>
                    <div class="more">
                        <a href="{{ path('movies_popular') }}" class="custom-btn btn">Films populaires</a>
                    </div>
                </div>
            </div>


            <div class="block block-right">
                <div class="block-img">
                    <img src="/images/recent.jpg" alt="" width="400px">
                </div>
                <div class="block-body">
                    <h3 class="title"><span>Prochainement...</span></h3>
                    <p>
                        Préparez-vous à une avalanche d'émotions avec les films bientôt disponibles dans vos salles.
                    </p>
                    <div class="more">
                        <a href="{{ path('movies_upcoming') }}" class="custom-btn btn">Prochains films</a>
                    </div>
                </div>
            </div>


        </div>


    {% else %}
    <section class="home-section">

        <div class="container-small reveal">


            <div class="block block-right">
                <div class="block-img">
                    <img src="/images/watchlist.png" alt="">
                </div>
                <div class="block-body">
                    <h3 class="title"><span>Avec MooviZ :</span></h3>
                    <p>
                        Explorez, parcourez et revivez vos films préférés avec passion et émotion.
                    </p>
                </div>
            </div>


            <div class="block block-left">
                <div class="block-img">
                    <img src="/images/genre.jpg" alt="">
                </div>
                <div class="block-body">
                    <h3 class="title"><span>Tous les genres sur Mooviz</span></h3>
                    <p>
                        Explorez l'extraordinaire diversité de films qui vous transportera à travers des univers captivants et des expériences inoubliables.
                    </p>
                </div>
            </div>
            <div class="block block-centered block-last">
                <p> Prêt à utiliser MooviZ ? Saisissez votre adresse e-mail pour vous inscrire ou connectez-vous de suite ! 🎉</p>
                <div class="frame">
                    <a href="{{ path('user_register') }}" class="menu-item custom-btn btn">Inscription</a>
                    <a href="{{ path('user_login') }}" class="menu-item custom-btn btn">Connexion</a>
                </div>
           </div>
        </div>


    {% endif %}
    </section>




{% endblock %}
