{% extends 'base.html.twig' %}

{% block title %}Nom du genre{% endblock %}

{% block body %}


<div class="block-body-genre">
    <h3 class="title"><span>Cliquez sur un film pour plus de détails !</span></h3>
    <div class="genre-filter">
        {% for genre in genres %}
            <div class="genre-filter-items">
                <a href="{{ path('genres_genre', {'genreId': genre.id}) }}">{{ genre.name }}</a>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container text-center">
    <div class="row gx-5">
    {% for movie in movies %}
    <div class="py-3 col-sm-6 col-md-6 col-lg-3 col-xl-3"> 
        <div class="template">
            <a class="" href="{{ path('genres_movie', {'movieId': movie.id}) }}">
                <div class="movie-poster">
                    <img class="d-block" src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}">
                </div>  
            </a>      
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}