{% extends 'base.html.twig' %}

{% block title %}Genres{% endblock %}

{% block body %}

<h1 class="pages-title">Genres 🎬</h1>
<div class="all-genres-container">
    <div class="all-genres-wrap"> 
        {% for genre in genres %}
            <div class="genre-items">
                <a href="{{ path('genres_genre', {'genreId': genre.id}) }}">{{ genre.name }}</a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
