{% extends 'base.html.twig' %}

{% block title %}{{ movie.original_title }}{% endblock %}

{% block body %}

<div class="container py-5 px-5">
    <div class="row">
        <div class="col-4">
            <img class="d-block" src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}">
        </div>

        <div class="col-8">
            <h1 class="title-template">Titre :</h1>
            <p>
                {{ movie.original_title }} 
                <span>({{ movie.release_date|slice(0,4)}})</span>
                Directed by 
                {% for crewMember in movie.credits.crew %}
                    {% if crewMember.job == 'Director' %} 
                        {{ crewMember.name }}
                    {% endif %}
                {% endfor %}
            </p>

            <h1 class="title-template">Genre(s) :</h1>
            <p>
                {% for genre in movie.genres %}
                    {{ genre.name }}
                    {{ not loop.last ? ',' }}
                {% endfor %}
            </p>

            <h1 class="title-template">Résumé :</h1>
            <p>{{ movie.overview }}</p>

            <h1 class="title-template">Acteur(s) :</h1>
            <p>
            {% for actor in movie.credits.cast|slice(0, 3)  %}
                {{ actor.name }}
                {{ not loop.last ? ',' }}
            {% endfor %}
            </p>

        </div>
    </div>   
</div>
{% endblock %}

