/* déclaration de variables : on va pouvoir utiliser ça sans aller chercher le code couleur à chaque fois : */

/* ça nous permet également de changer TOUTES les couleurs reliées d'un coup d'ici */

*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #1F2024; /* pour l'utiliser : var(--bg-color) */
    --body-color: #F4EEE5;
    --h2-color: #5C4D7D;
    --h3-color: #2E6F95;
    --button-color: #b7094c;
}

body {
    background-color: var(--bg-color) ;
    font-family: 'Open Sans', sans-serif;
    color: var(--body-color);
    font-size: 18px;
}

img {
    max-width: 100%;
    height: auto;
}

.display {
    display: none;
}

/* Header */

.hdr {
    background: 
        linear-gradient(180deg, rgba(0, 0, 0, 0.92), rgba(54, 54, 54, 0.5) 39.24%, rgba(28, 28, 28, 0.4)), 
        url(/images/cinema.jpg) center center / cover no-repeat;
    /* height: 40vh; */
}


.hdr2 {
    background: 
        linear-gradient(180deg, rgba(0, 0, 0, 0.92), rgba(54, 54, 54, 0.5) 39.24%, rgba(28, 28, 28, 0.4)), 
        url(/images/alonecinema.jpg) center center / cover no-repeat;
    /* height: 40vh; */
}

.navbar-toggler-icon {
    width: 60px !important;
    height: 60px !important;
  }

.navbar {
    padding: 20px;
}

.navbar-collapse {
    flex-direction: row-reverse!important;
    margin-top: 20px !important;
    display: flex;
}


@media screen and (max-width: 768px) {
    .navbar {
        background-color: var(--bg-color);
        font-size: 1.5rem;
    }

    .nav-item {
        margin-bottom: 12px!important;  
    }

    .navbar-collapse {
        flex-direction: row-reverse!important;
        margin-top: 20px !important;
        display: flex;
        justify-content: center;
    }

    .nav-item .custom-btn {
        font-size: 2rem!important;
        width: 300px!important;
        margin-bottom: 16px;
    }

}

.logo {
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo a{
    display: flex;
    align-items: center;
}

.logo p{
    padding: 0;
    margin: 0;
    color: hsl(230, 40%, 80%);
    font-size: 1.5rem;
    font-weight: 500;
    animation: lights 5s 750ms linear infinite;
    float: right;
}

.medium-letter{
    font-size: 2.5rem;
    font-weight: 400;
}



@keyframes lights{
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0);
    }

    30% { 
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2);
    }

    40% { 
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2);
    }

    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2);
    }

    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0);
    }


  
}


.logo img{
    height: 45px;
    float: left;
    margin-bottom: 12px;
}

.pop {
    width: 2.5rem;
    &:hover, &:focus {
      animation: popshake .5s cubic-bezier(.36,.07,.19,.97) both;
      backface-visibility: hidden;
      transform-origin: bottom;
    }
}

@keyframes popshake {
    0% { transform: rotate(0); }
    15% { transform: rotate(5deg); }
    30% { transform: rotate(-5deg); }
    45% { transform: rotate(4deg); }
    60% { transform: rotate(-4deg); }
    75% { transform: rotate(2deg); }
    85% { transform: rotate(-2deg); }
    92% { transform: rotate(1deg); }
    100% { transform: rotate(0); }
}

.menu-item {
    display: inline-block;
    margin: 0 15px;
    color: var(--button-color);
}

.baseline {
    padding: 50px 0 70px 0;
    text-align:center;
    line-height: 1;
    animation: lights 5s 750ms linear infinite;
}

.baseline-name {
    display: block;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 5px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.baseline-slogan {
    font-size: 1rem;
    font-weight: 300;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.big-letter{
    font-size: 6rem;
    font-weight: 600;
}

.pages-title{
    padding: 50px 0;
    text-align:center;
    line-height: 1;
    animation: lights 5s 750ms linear infinite;
}


.block-body p{
    padding-top: 10px;
}

.block-body-genre{
    padding: 20px 0 20px 60px;
}

.block-body-genre .title {
    margin-bottom: 15px;
}

/* BUTTON */

a{
    text-decoration: none;
}

.frame {
    text-align: center; 
}

.custom-btn {
    color: #fff;
    width: 145px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.btn {
    border: 1px solid #B7094C;
    box-shadow: 0 0 5px #B7094C, 0 0 5px #B7094C inset;
    color: #B7094C;
    z-index: 2;
    transition: all 0.3s ease;
    overflow: hidden;
    padding-top: 7px;
    padding-bottom: 7px;
}

.btn2{
    border: 1px solid #160835;
    box-shadow: 0 0 5px #160835, 0 0 5px #160835 inset;
    color: #160835;
}

.btn2:after{
    background: #160835;
}

.btn:after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #B7094C;
    transition: all 0.3s ease;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.btn:hover {
    color: #F4EEE5;
}
.btn:hover:after {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.custom-add {
    color: #B7094C;
    width: fit-content;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.v2{
    margin-left: 10px;
}





/* page connexion  */

.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    background-color: var(--h2-color);
    border-radius: 25px;
    box-sizing: border-box;
    min-height: 400px;
    width: 70%;
    padding: 20px;
    margin: 5% 0 20% 0;
}

.form-title  {
    font-weight: 600;
    font-size: 3rem;
    margin: 15px 0px;
}

.form-subtitle  {   
    font-size: 1.3rem;
}

form {
    width: 100%;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
    margin-top: 40px;
}

.input {
    background-color: var(--body-color);
    border-radius: 12px;
    box-sizing: border-box;
    border: 0;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0; 
    width: 100%;

}

.placeholder-anim {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .placeholder-anim,
.input:not(:placeholder-shown) ~ .placeholder-anim {
  transform: translateY(-40px) translateX(-10px) scale(0.75);
}


.input:not(:placeholder-shown) ~ .placeholder-anim {
  color: var(--body-color);
}

.input:focus ~ .placeholder-anim {
  color: #dc2f55;
} 

.submit {
    background-color: var(--button-color);
    cursor: pointer;
    height: 50px;
    width: 100%;
    text-align: center;
    border: 0;
    box-sizing: border-box;
    border-radius: 12px;
    outline: 0;
    color: var(--body-color);
    font-size: 1rem;
    margin-top: 40px;
}

.already-link {
    display: block;
    text-decoration: none;
    background-color: #160835;
    cursor: pointer;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    border-radius: 12px;
    color: var(--body-color);
    font-size: 1rem;
    margin-top: 15px;
    padding: 15px 0;
}


/* PAGE PROFIL  */

.userprofile{
    min-height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 100px;
}


.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 300px;
    background: rgba(255, 255, 255, 0.062);
    box-shadow: 0 8px 32px 0 #2e6f9531;
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    border: 1px solid rgba(255, 255, 255, 0.096);
    border-radius: 1rem;
    padding: 1.5rem;
    color: whitesmoke;
}

.profile-container {
    text-align: center;
  }



.profile-name,
.profile-username,
.profile-email {
    margin: 25px 0;
}

.blob {
    position: absolute;
    width: 270px;
    height: 300px;
    background: linear-gradient(
      180deg,
      rgba(92, 77, 125, 0.5) 31.77%,
      rgb(92, 77, 125) 100%
    );
    mix-blend-mode: color-dodge;
    -webkit-animation: move 25s infinite alternate;
            animation: move 25s infinite alternate;
    transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);

    transform: translate(-100px, -50px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }
  
  .blob:hover {
    width: 270px;
    height: 270px;
    -webkit-filter: blur(25px);
            filter: blur(25px);
    box-shadow:
      inset 0 0 0 5px rgba(255,255,255, 0.6),
      inset 100px 100px 0 0px #2E6F95,
      inset 200px 200px 0 0px #b7094c,
      inset 300px 300px 0 0px #5c4d7d;

  }

  @-webkit-keyframes move {
    from {
        transform: translate(-100px, -50px) rotate(-90deg);
        border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }

    to {
        transform: translate(100px, 50px) rotate(-10deg); 
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
}

@keyframes move {
    from {
        transform: translate(-100px, -50px) rotate(-90deg);
        border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }

    to {
        transform: translate(100px, 50px) rotate(-10deg); 
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
}

  



/* PAGE TOUS LES GENRES  */

.all-genres-container {
    display: flex;
    justify-content: center;
    padding: 1.5rem ;
}

.all-genres-wrap {
    display: flex;
    flex-wrap: wrap;
}

.genre-items {
    height: 200px;
    width: 200px;
    background-color: var(--h2-color) ;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}

.genre-items a {
    color: var(--body-color);
    padding: 100px;
    font-size: 1.2rem;
}

@media all and (max-width: 768px) {

    .all-genres-wrap {
        justify-content: space-around;
    }
}

.genre-filter {
    display: flex;
    flex-wrap: wrap;

}

.genre-filter-items {
    margin: 5px;
    background-color: var(--button-color);
    padding: 2px 15px;
    border-radius: 15px;
}

.genre-filter-items a {
    color: var(--body-color)
}



/* PAGE SPECIFIQUE GENRES  */

.banner {
    background-image: url('https://images.unsplash.com/photo-1633509246720-03360fbccd9d?auto=format&fit=crop&q=80&w=2670&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    text-align: center;
    padding: 150px;
    color: var(--h2-color)
}

.genres-container {
    width: 80%;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.genre-item {
    width: 300px;
    height: 400px;
    margin: 25px;
}

.genre-item img {
    height: 100%;
    width: 300px;
    object-fit: contain;
}

/* POPUP FILM */

.popup {

    display: none;
}

.popup-active {
    position: fixed;
    display: flex;
    background-color: var(--h2-color);
    width: 960px;
    height: 500px;
    z-index: 99;
    left: 50%;
    top: 50%;
	transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 0 40px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.popup__left {
    border-radius: 2px;
}

.popup__left img {
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
    opacity: 0.6;
}

.popup__right {
    width: 70%;
	padding: 30px;
	margin-top: -25px;
}

.popup-infos {
    display: flex;
}

.popup-infos p {
    background-color: var(--bg-color);
    padding: 10px;
    margin: 8px 8px 8px 0px;
    border-radius: 8px;
}


.popup__right h3 {
    font-weight: normal;
    font-size: 50px;

}

.popup-close {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}


/* SECTION */

.home-section {
    padding-top: 9px;
}

.container-small {
    margin: 0 auto;
    padding: 8px 20px;
    max-width: 960px;
}


.block {
    margin-bottom: 20px;
}

.block, p{
    padding-bottom: 30px;
}

.title {
    font-size: 1rem;
    line-height: 1.1;
    letter-spacing: 2px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem 0 0 0;
}

.title span {
    color: #5C4D7D;
    font-size: 2rem;
    display:block;
    text-transform: none;
    font-weight: 500;
}

.title::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 2px;
    background: #5C4D7D;
    margin-bottom: .5rem;
}


.block-centered {
    text-align: center;
}

.block-centered .block-body {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}



/* FOOTER */

.footer {
    background: #1c1d20 ;
    padding: 4%;
}

.footer-title{
    font-weight: bold;
    padding-bottom: 7px;
    animation: lights 5s 750ms linear infinite;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    width: 290px;
    margin-right: 50px;
}

.footer-column:first-child {
    width: 450px;
}

.footer-column:last-child {
    margin-right: 0;
    flex: none; 
}

.footer a {
    font-weight: 700;
    text-decoration: underline;
    color: #B7094C;
}

.footer-credits {
    font-size: 0.93em;
}

.footer-credits span {
    font-weight: bold;
    animation: lights 5s 750ms linear infinite;
}

@media all and (min-width: 641px) {
    .logo {
        margin-bottom: 0;
    }
    .topbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1150px;
        margin: 0 auto;
    }
    .baseline {
        padding: 125px 0 230px;
    }
    .baseline-slogan {
        font-size: 1.5rem;
    }
    .baseline-name {
        font-size: 4.375rem;
        letter-spacing: 12px;
        padding-top: 8px;
        padding-bottom: 18px;
    }

}

@media all and (min-width: 800px) {

    .block {
        margin-bottom: 30px;
    }


    .block-left, .block-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .block-img {
        padding-top: 50px;
        border: none;
        position: relative;
    }

    .block-left .block-body, .block-right .block-body {
        width: 445px;
        flex: none;
    }

    .block-right .block-img::before {
        left: auto;
        right: -30px;
    }

    .block-left .block-img {
        margin-left: 30px;
    }

    .block-right .block-img {
        margin-right: 30px;
    }

    .block-left .block-body {
        margin-left: 20px;
    }

    .block-right .block-body {
        margin-right: 20px;
        order: -1;
    }

    /* Footer */

    .footer-columns {
        display: flex;
        justify-content: space-between;
    }

    .footer-column {
        width: 290px;
        margin-right: 50px;
    }
    
    .footer-column:first-child {
        width: 450px;
    }

    .footer-column:last-child {
        margin-right: 0;
        flex: none; 
    }

    .footer a {
        text-decoration: underline;
    }

    
    .footer-credits {
        font-size: 0.93em;
    }

    .footer-credits span {
        font-weight: bold;
    }


}



/* MOVIES CARD DETAILS */

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 325px;
    height: 450px;
    background: #000;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.poster::before {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .3s;
}

.card:hover .poster::before {
    bottom: 0;
}

.poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

.card:hover .poster img {
    transform: scale(1.1);
}

.details {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.5em 1.5em 2em;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    transition: .3s;
    color: #fff;
    z-index: 2;
}

.card:hover .details {
    bottom: 0;
}

.details h1,
.details h2 {
    font-weight: 700;
}

.details h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.details h2 {
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 10px;
    opacity: .6;
}

.details .rating {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    gap: .25em;
}

.details .rating i {
    color: #e3c414;
}

.details .rating span {
    margin-left: 0.25em;
}

.details .tags {
    display: flex;
    gap: .375em;
    margin-bottom: .875em;
    font-size: .85em;
}

.details .tags span {
    padding: .35rem .65rem;
    color: #fff;
    border: 1.5px solid rgba(255 255 255 / 0.4);
    border-radius: 4px;
    border-radius: 50px;
}

.details .desc {
    color: #fff;
    opacity: .8;
    line-height: 1.5;
    margin-bottom: 1em;
}

/* PAGE GENRES */

.all-genres-container {
    display: flex;
    justify-content: center;
    min-height: 70vh;
}

.all-genres-wrap {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.genre-items {
    background-color: #b7094c7c;
    margin: 19px;
    transition: transform 0.3s ease-in-out;
}

.genre-items:hover {
    transform: scale(1.1);
}

.genre-items a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1em; 
    transition: font-size 0.3s ease-in-out;
    animation: lights 8s 1s linear infinite;
}

.genre-items:hover a {
    font-size: 1.8em; 
}


/* PAGE GENRE */

.template {
    transition: transform 0.3s ease-in-out;
}

.template:hover {
    transform: scale(1.1);
}

.title-template{
    color: #5C4D7D;
}

.col-8 p{
    color: #fff;
}