<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    {% if app.user %}
        <header class="hdr2" id="burg">
            <nav class="navbar navbar-expand-lg d-flex justify-content-between">               
                <div class="logo">
                    <a href="{{ path('home_index') }}"><p> <img class="pop" src="{{ asset('/images/pop.png') }}" alt=""><strong class="medium-letter">M</strong>oovi<strong class="medium-letter">Z</strong></p></a> 
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <svg class="navbar-toggler-icon" width='100%' height='100%' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'>
                        <path stroke='rgb(183, 9, 76)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/>
                    </svg>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a href="{{ path('genres_index') }}" class="menu-item">Genres</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('movies_popular') }}" class="menu-item">Populaire</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('movies_recent') }}" class="menu-item">En ce moment</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('movies_upcoming') }}" class="menu-item">Prochainement</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('user_profile') }}" class="menu-item">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('user_logout') }}" class="menu-item">Déconnexion</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="baseline">
                <h1 class="baseline-name"><strong class="big-letter">M</strong>oovi<strong class="big-letter">Z</strong></h1> 
                <h2 class="baseline-slogan">L'expérience, comme au cinéma.</h2>
            </div>
        </header>

    {% else %}
        <header class="hdr" id="burg">
            <nav class="navbar navbar-expand-lg d-flex justify-content-between">               
                <div class="logo">
                    <a href="{{ path('home_index') }}"><p> <img class="pop" src="{{ asset('/images/pop.png') }}" alt=""><strong class="medium-letter">M</strong>oovi<strong class="medium-letter">Z</strong></p></a> 
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <svg class="navbar-toggler-icon" width='100%' height='100%' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'>
                        <path stroke='rgb(183, 9, 76)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/>
                    </svg>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a href="{{ path('user_register') }}" class="menu-item custom-btn btn">Inscription</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('user_login') }}" class="menu-item custom-btn btn">Connexion</a>
                        </li>
                    </ul>
                </div>
            </nav>


            <div class="baseline">
                <h1 class="baseline-name"><strong class="big-letter">MooviZ</strong></h1> 
                <h2 class="baseline-slogan">L'expérience, comme au cinéma.</h2>
            </div>
        </header>
    {% endif %}

    {% block body %}{% endblock %}
    <footer class="footer" id="footer">
        <div class="container">
            <div class="footer-columns">
                <div class="footer-column">
                    <div class="footer-title">MooviZ</div>
                    <p>
                        
Découvre et partage tes impressions cinéphiles sur MooviZ, un site convivial où tu peux commenter tes films préférés, à la manière de Letterboxd. Plonge dans l'univers du cinéma avec une communauté passionnée ! 🎥✨                    
                    </p> 
                </div>
                <div class="footer-column">
                    <div class="footer-title">CONTACT INFO</div>
                    <p>
                        36 BD Rodin, Montpelier, France<br>
                        +1 987 654 3210<br>
                        <a href="mailto:contact@mooviz.com">contact@mooviz.com</a>
                    </p>
                </div>
            </div>
            <div class="footer-credits">
                <br><span>2023 MOOVIZ</span>. Tout droit réservé.
            </div>
        </div>
    </footer>  
    </body>
</html>
