{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="form-wrapper">
        <div class="form-container">
            <div class="form-title">Hello 👋 !</div>
            <div class="form-subtitle">Connecte toi pour plonger dans l'univers de MooviZ</div>
            
            {% if error %}
                <div class="">{{ error.messageKey(error.messageData, 'security') }}</div>
            {% endif %}

            <form action="" method="POST">

                <div class="input-container pseudo-input">
                    <input type="email" name="_username" id="username" value="{{ last_username }}" placeholder=" " class="input">
                    <label for="username" class="placeholder-anim">Ton email</label>
                </div>

                <div class="input-container password-input">
                    <input type="password" name="_password" id="password" placeholder=" " class="input">
                    <label for="password" class="placeholder-anim">Ton mot de passe</label>
                </div>

                <button type="submit" class="submit custom-btn btn">Connexion</button>
                <a href="{{ path('user_register') }}" class="already-link custom-btn btn2">Pas encore inscrit ?</a>
            </form>
        </div>       
    </div>
{% endblock %}