{% extends 'base.html.twig' %}

{% block title %}Mooviz Index{% endblock %}

{% block body %}

    <h1 class="pages-title" >Bienvenue sur ton profil !👋</h1>

    <section class="userprofile"> 

    <div class="profile">

        <div class="profil-container">
                <h2 class="profile-name"><text class="pages-title">Nom :</text> {{ app.user.firstname }}</h2>
                <h2 class="profile-username"><text class="pages-title">Pseudo : </text>{{ app.user.username }} </h2>
                <h2 class="profile-email"><text class="pages-title">Email : </text> {{ app.user.email }} </h2>    
        </div>

        <div class="blob"></div>

    </div>
</section>

{% endblock %}
