{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="form-wrapper">
        <div class="form-container">
        
            <p class="form-title">Hello👋 !</p>
            <p class="form-subtitle">Prêt à plonger dans l'univers de MooviZ ?</p>

            {{ form_start(form) }}
                <div class="input-container prenom-input">
                    {{ form_widget(form.firstname) }}    
                    {{ form_label(form.firstname) }}
                </div>

                <div class="input-container pseudo-input">
                    {{ form_widget(form.username) }}    
                    {{ form_label(form.username) }}
                </div>

                <div class="input-container email-input">
                    {{ form_widget(form.email) }}    
                    {{ form_label(form.email) }}
                </div>

                <div class="input-container password-input">
                    {{ form_widget(form.password) }}    
                    {{ form_label(form.password) }}
                </div>
                {{ form_widget(form.inscription) }} 
                {# <button type="submit" value="Inscription" class="submit custom-btn btn">Inscription</button> #}
                <a href="{{ path('user_login') }}" class="already-link custom-btn btn2">Déjà inscrit ?</a>
            {{ form_end(form) }}
        </div>       
    </div>
{% endblock %}